@media screen and (min-width: 0) {


	.header {

		margin: 0 0 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;

	}


	.header-logo {

		width: 300px;
		margin: 0 auto 20px auto;

	}


	.header-logo img {

		width: 100%;

		opacity: 80%;

	}


	.header-nav {

		display: none;

	}


}




@media screen and (min-width: 750px) {


	.header {

		margin: 30px 0 55px 0;

	}


	.header-logo {

		width: 450px;

	}


	.header-logo img:hover {

		cursor:  pointer;

	}


	.header-nav {

		width: 300px;
		margin: 0 auto 0 auto;

		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}


	.header-nav a {

		text-transform: uppercase;
		color: #8C9EA8;
	
	}


	.header-nav a:hover {

		filter: brightness(1.3);

	}


}